<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/rStyle.css">
    <title>Rgister Page</title>
</head>
<body>
    <h1 class="heading">Register Page</h1>

    <form id="registerForm" class="formDiv">
        <input type="text" id="userName" placeholder="userName" />
        <input type="text" id="email" placeholder="email" />
        <input type="password" id="password" placeholder="password">
        <button type="submit">Register</button>
        <a href="/login">login here</a>
    </form>

    <script src="/scripts/authScripts.js"></script>
</body>
</html>